<% @company_profiles.each do |company_profile| %>

  <h2><%= link_to company_profile.name, "http://localhost:3000/company_profiles/#{company_profile.id}" %></h2>
  <p><%=  company_profile.description %></p>
  <ul>
    <li>Salary indication: <%= company_profile.salary_indication %></li>
    <li>Size: <%= company_profile.size %></li>
    <li>Jr/Sr ratio: <%= company_profile.jr_sr_ratio %></li>
  </ul>

<% end %>
