  <h2><%= @company_profile.name %></h2>
  <p><%=  @company_profile.description %></p>
  <ul>
    <li>Salary indication: <%= @company_profile.salary_indication %></li>
    <li>Size: <%= @company_profile.size %></li>
    <li>Jr/Sr ratio: <%= @company_profile.jr_sr_ratio %></li>
  </ul>
