  <h2><%= @profile.name %></h2>
  <p><%=  @profile.description %></p>
  <ul>
    <li>Salary indication: <%= @profile.salary_indication %></li>
    <li>Size: <%= @profile.size %></li>
    <li>Jr/Sr ratio: <%= @profile.jr_sr_ratio %></li>
  </ul>
