<!DOCTYPE html>
<html>
<head>
  <title>JrdevjobhuntBack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to "Home", root_path %>
  <% if company_signed_in? %>
  <%= link_to "Your Account", company_path(current_company) %>
  <% elsif junior_signed_in? %>
  <%= link_to "Your Account", junior_path(current_junior) %>
  <% end %>
</nav>
<p id="notice"><%= notice %></p>
<%= yield %>

</body>
</html>
